.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 50px;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    
    .left{
        display: flex;
        align-items: center;
        gap: 30px;

        span{
            font-weight: bold;
            font-size: 20px;
            color: rgb(110, 5, 239);
        }

        .search {
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 5px;

            input {
              border: none;
              width: 500px;
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        gap: 20px;

        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            span {

            }
        }
    }
}

@media screen and (max-width:1086px) {
    .navbar {
        .hide {
            display: none;
        }
    }
}

@media screen and (max-width:866px) {
    .navbar {
        .left {
            .search-hide{
                display: none;
            }
        }
    }
}

@media screen and (max-width:450px) {
    .navbar {
        .left {
            span{
                font-size: 19px;   
            }
        }

        .right {
            .user {
                span {
                    font-size: 17px; 
                }
            }
        }
    }
}